body {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    background-color: #faf0d9;
    color: #1b1b1b;
    line-height: 1;
}

main {
    max-width: 1100px;
    margin: 2rem auto 2rem auto;
    padding: 0 1rem;
}

header {
    text-align: center;
    padding: 1rem 0 1rem;
}



.imagecrop {
    height: 120px;
    width: 300px;
    overflow: hidden;
}

.imagecrop img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: 800;
    color: #23afa4;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
    color: #066856;
}

#courseTable {
    width: 80%;
    margin: 3rem auto;
    background-color: #cce4e3;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px #1b1b1b;
}

#courseTable thead th {
    background-color: #6dcbc3;
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
    color: #014f40;
}

#courseTable tbody td {
    padding: .8rem 1rem;
    font-size: 1rem;
    font-weight: 300;
}

#courseTable tbody tr:nth-child(even) {
  background-color: #e9faf9;
}

.add-button {
    margin-left: 10%;
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 55px;
    background-color: #23afa4;
    color: #ffffff;
    font-size: .8rem;
    text-decoration: none;
}

#editCourseForm {
    width: 80%;
    margin: 1vw auto;
}

.back-link {
    margin-left: 10%;
}

#addCourseForm {
    width: 80%;
    margin: 1vw auto;
}